
body {
  background-color: #1e555c;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.length {
  display: inline-block;
  width: 250px;
}

.setting {
  display: flex;
  width: 30%;
  margin: auto auto;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  display: inline-block;
}

.playandpause {
  margin-top: 20px;
}

.clock {
  border-width:3px;
  border-style:solid;
  border-color:white;
  border-radius: 30px;
  font-size: 1.8rem;
  width: 300px;
  height: 80px;
  margin: auto auto;
  padding-top: 10px;
}

h3 {
  font-size: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
